@import "reset";

body {
	background: #eaeaea;
	font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
	overflow: hidden;
	white-space: nowrap;
}

.black-fg {
	color: #000000;
	opacity: 0.6;
}

.black-fg-deep {
	color: #000000;
	opacity: 0.8;
}

.black-bg {
	background: #000000;
	opacity: 0.6;
}

.black-bg-deep {
	background: #000000;
	opacity: 0.8;
}

#logo {
	@extend .black-fg;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin-top: -60px;
	display: block;
	font-size: 60px;
	font-family: 'Futura PT', Helvetica, Arial, Verdana, sans-serif;
}

#subtitle {
	@extend .black-fg;
	position: fixed;
	text-align: center;
	top: 50%;
	display: block;
	width: 100%;
	font-size: 18px;
	transform: translateY(-50%);

	font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
	font-size: 24px;
}

a {
	@extend .black-fg;
	text-decoration: none;
}

a:hover {
	@extend .black-fg-deep;
}

#links {
	width: 200px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 50%;
	margin-top: 44px;
	text-align: center;

	font-size: 20px;

	li {
		float: left;
		text-align: center;

		a {
			height: 40px;
			width: 40px;
			line-height: 40px;
			display: block;
		}

		&.middle {

			a {
				border-top: #000000 solid 2px;
				border-bottom: #000000 solid 2px;
			}

			a:hover {
				@extend .black-bg;
				color: #ffffff;
			}

			&.middle-left {
				a {
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					border-left: #000000 solid 2px;
					width: 38px;
				}
			}

			&.middle-right {
				a {
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
					border-right: #000000 solid 2px;
					width: 38px;
				}
			}
		}
	}
}
